body {
	background-color: #a8f7ca;
	font-family: 'Butterfly Kids', cursive;
}


.profile-pic {
	max-width: 100%;
}
.profile-title {
	color: #d14b29;
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
}
.love {
	color: #36133f;
	font-family: 'Aladin', cursive;
	font-size: 20px
}

.aboutme {
	font-family: 'Caveat Brush', cursive;
	color: #0f0f33;
}
.skills {
	font-family: 'Caveat Brush', cursive;
}
.foodintake {
	background-color: #0e724a;
	color: #dcf2e9;
}
.foodintake1 {
	background-color: #080e26;
}
.tryfood {
	font-family: 'Caveat Brush', cursive;
}
.places {
	font-family: 'Caveat Brush', cursive;
}
.my-nav {
	background-color: #edd0f4;
}
.description {
  background-image: url("../img/2017-06-12-seaside-celebrations.jpg");
  background-repeat: repeat-x;
}
.backgroundpic {
  background-image: url("../img/c.jpg");
}
html, body {
	min-height: 100%;
}
.no-bg {
	background: none;
	font-family: 'Caveat Brush', cursive;
	color: #36133f;
}
.aboutmecard {
	background-color: pink;
}
.card2 {
	background-color: #aec8f2;
}
.card3 {
	background-color: #617799;
}
.my-nav {
	font-family: 'Merienda One', cursive;
}

